<h1>Email us at ottle@ottle.com</h1>

 <script type="text/javascript">   
 	new Chartkick.LineChart("chart-1", {"2013-02-10 00:00:00 -0800": 11, "2013-02-11 00:00:00 -0800": 6});
 </script>


<div id="chart-1" style="width: 600px;height: 400px;"></div>
<%= geo_chart({"United States" => 10, "Germany" => 1, "China" => 10, "Japan" => 30, "Mexico" => 1,"United Kingdom" =>2, "France" => 1, "Bahamas" => 1}) %>