<script type="text/javascript">
  $(document).ready(function() {
   
    $("#owl-home").owlCarousel({
      autoPlay : 3000,
      stopOnHover : false,
      navigation : true,
      lazyLoad : false,
      singleItem: true,
      slideSpeed : 300,
      paginationSpeed : 400,
      transitionStyle : "fade",
      itemsDesktop : [1119, 3],
      itemsDesktopSmall : [979, 3],
      loop : true
    });
   
  });
</script>


<body>
<div class="jumbotron" style="max-height:270px">
  <div class="container">
    <h1>Welcome to <span class="brand">Ottle</span>!</h1>
    <h5 class="jumbotext white">     My very own aggregation of hobbies</h5>
  </div>
</div>
      <!-- START THE FEATURETTES -->
<div class="container">

      <div class="row featurette">
        <div class="col-md-4">
          <h3 class="featurette-heading">World <span class="text-muted"> - connected</span></h3>
          <p class="lead">The World is so big yet so small.<br>Journey to awesome places that I have visited</p>
          <p><a class="btn btn-sm btn-warning" href="/posts" role="button">Explore my Journey</a></p>
        </div>
        <div class="col-md-4">
          <h3 class="featurette-heading">Investment <span class="text-muted">- funded</span></h3>
          <p class="lead">Investing is 80% attitude and 20% strategy.<br>Tips from inspiring books</p>
          <p><a class="btn btn-sm btn-warning" href="pages/investment" role="button">View Tips</a></p>
        </div>
        <div class="col-md-4">
          <h3 class="featurette-heading">CS Projects <span class="text-muted"> - checkmate</span></h3>
          <p class="lead">The act of creating balances our daily mindless consuming.<br>Projects that I may do</p>
          <p><a class="btn btn-sm btn-warning" href="pages/csprojects" role="button">View Projects</a></p>
        </div>
      </div>
</div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox" style="width: 100%; max-height:400px">
        <div class="item active">
          <img src="https://unsplash.com/photos/v99lFTVp_ws/download" alt="First slide" alt="...">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="https://ununsplash.imgix.net/photo-1415302199888-384f752645d0?q=75&fm=jpg&s=823bdcc1b7ad955f5180efd352561016" alt="First slide" alt="...">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="https://unsplash.imgix.net/photo-1414589491349-2acf6131176e?q=75&fm=jpg&s=0fc2f75bf5f668bf513d88a721dbe5c9" alt="First slide" alt="...">
          <div class="carousel-caption">
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
      <!-- /END THE FEATURETTES -->
 <div class="container marketing">
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h3 class="featurette-heading">About Me<span class="text-muted"> - updated</span></h3>

          <p>University of California Berkeley</p>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              Masters in Product Development
            </div>
          </div>
          <p>Business Analyst</p>
          <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
              Copy and Paste
            </div>
          </div>
          <p>Web Developer</p>
          <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
              Rails on steRoids
            </div>
          </div>
          <p>Investor</p>
          <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
              Studying the dark arts
            </div>
          </div>
        </div>
      </div>
  </div><!-- /.container -->
  <br>
  <hr class="featurette-divider">
</body>