<h1>World Food and Travel Blog</h1>


  <head>
    <div class="row">
      <div colspan="3"></div>
    </div>
  </head>

  <body>
    <% @posts.each do |post| %>
      <div class="thumbnail">
        <h2><%= link_to post.title, post %></h2>
        <p>
          <%= link_to '', edit_post_path(post), class: "glyphicon glyphicon-edit" %>
          <%= link_to '', post_attachments_path(post), class: "glyphicon glyphicon-list-alt"%>
        </p>

      </div>
    <% end %>
  </body>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path, class: "btn btn-link", data: {no_turbolink: true} %>
<% end %>
