@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/glyphicons";
@import "font-awesome";

#owlshow .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#owl-home .owl-item img{
  display: block;
  width: 100%;
  min-height:100px;
  max-height: 300px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.galleryimg {
	width: 50px;
}

.footer {
	background-color: #444444;
	height: 100px;
	opacity: 0.85; 
	filter: alpha(opacity=50);
}
.carousel {
	margin-bottom:0;
}

.postThumb {
	width: 250px;
}

.navbar-wrapper .navbar-default {
	background-color: #ffffff;
	opacity: 0.85; 
	filter: alpha(opacity=50);
}

body {
	background-color: #FFFFFF;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar {
	padding: 0;
	margin: 0;
}

.brand {
	color: #D5641C;
	font-weight: 500;
	font-size: 70px;
}

.navbar-inverse .navbar-brand {
	font-family: guardian-egypt, georgia, serif;
	font-weight: 500;
	color: #D5641C;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #019285;
	padding: 0;
}

.navbar-inverse .navbar-nav > li > a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #D5641C;
    color: #000000;
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1){
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}

.jumbotron {
	background-image: url('http://res.cloudinary.com/ottle/image/upload/v1424419093/jumbotron1_obqklx.jpg');
	h1, h2 {
		font-family: guardian-egyptt, georgia, serif;
	};
	padding: 0;
	opacity: 0.85; 
	filter: alpha(opacity=10);
}

.white {
  color: #fff;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

