<br>
&nbsp
<div class="container-fluid footer">
	<div class="container">
		<br>
		<p class="pull-right"><a href="#"><i class="fa fa-arrow-up white"></i></a></p>
		<p><span class="brandcolor">&copy; 2015 Ottle, Inc.</span> &middot; <a href="#" class="white">Privacy</a> &middot; <a href="#" class="white">Terms</a></p>
	</div>
	<%= yield :javascripts %>
</div>